In [1]:
import pandas as pd

In [2]:
from sklearn.datasets import load_wine

In [3]:
wine = load_wine()

In [4]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [12]:
df = pd.DataFrame(wine.data,columns=wine.feature_names)

In [13]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [14]:
df["target"] = wine.target

In [15]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,0

In [18]:
df.groupby("target").describe()

       alcohol                                                             \
         count       mean       std    min     25%     50%     75%    max
target
0         59.0  13.744746  0.462125  12.85  13.400  13.750  14.100  14.83
1         71.0  12.278732  0.537964  11.03  11.915  12.290  12.515  13.86
2         48.0  13.153750  0.530241  12.20  12.805  13.165  13.505  14.34

       malic_acid            ... od280/od315_of_diluted_wines       proline  \
            count      mean  ...                          75%   max   count
target                       ...
0            59.0  2.010678  ...                         3.42  4.00    59.0
1            71.0  1.932676  ...                         3.16  3.69    71.0
2            48.0  3.333750  ...                         1.82  2.47    48.0


               mean         std    min    25%     50%     75%     max
target
0       1115.711864  221.520767  680.0  987.5  1095.0  1280.0  1680.0
1        519.507042  157.211220  278.0  406.5   495.0   625.0   985.0
2        629.895833  115.097043  415.0  545.0   627.5   695.0   880.0

[3 rows x 104 columns]

In [24]:
X = df.drop("target",axis=1)
y = df["target"]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   alcohol                       178 non-null    float64
 1   malic_acid                    178 non-null    float64
 2   ash                           178 non-null    float64
 3   alcalinity_of_ash             178 non-null    float64
 4   magnesium                     178 non-null    float64
 5   total_phenols                 178 non-null    float64
 6   flavanoids                    178 non-null    float64
 7   nonflavanoid_phenols          178 non-null    float64
 8   proanthocyanins               178 non-null    float64
 9   color_intensity               178 non-null    float64
 10  hue                           178 non-null    float64
 11  od280/od315_of_diluted_wines  178 non-null    float64
 12  proline                       178 non-null    float64
 13  target                        178 non-null    int32
dtypes: float64(13), int32(1)
memory usage: 18.9 KB

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [28]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

In [29]:
model.fit(X_train,y_train)

MultinomialNB()

In [30]:
model.score(X_test,y_test)

0.8611111111111112

In [31]:
from sklearn.naive_bayes import GaussianNB
gn = GaussianNB()
gn.fit(X_train,y_train)

GaussianNB()

In [32]:
gn.score(X_test,y_test)

0.8888888888888888